@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

h2 {
    margin: 0;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
    font-weight: lighter;
}

h1 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: unset;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

header {
    background: #000;
    color: white;
    padding: 1rem;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container0 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftHeader {
    display: flex;
    align-items: center;
}

.leftHeader img {
    height: 50px;
    margin-right: 10px;
}

.leftHeader h2 {
    margin: 0;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 32px;
}

.rightHeader {
    display: flex;
    align-items: center;
}

.avatar-stack {
    display: flex;
    gap: 10px;
    padding: 10px;

}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightHeader ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rightHeader ul li {
    margin-left: 25px;
}

.rightHeader ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.rightHeader ul li a:hover {
    color: #ffeb3b;
}

button {
    display: block;
    width: 80%;
    max-width: 200px;
    padding: 10px;
    margin: 5px auto;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#hero {
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px;
    color: white;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#hero h2 {
    font-size: 45px;
    margin: 10px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 10px;
}

#hero button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#hero button:hover {
    background-color: #555;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #000;
    color: white;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container0 {
        flex-direction: column;
        text-align: center;
    }

    .rightHeader ul {
        flex-direction: column;
    }

    .rightHeader ul li {
        margin: 10px 0;
    }

    #hero h2 {
        font-size: 36px;
    }

    #hero p {
        font-size: 18px;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.body-type-selector,
.progress-container,
.meal-plan-section,
.user-details-section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.body-type-selector {
    background-image: linear-gradient(to right, #87CEEB, #4682B4);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.body-type-selector:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.progress-container {
    background-image: linear-gradient(to right, #FFA07A, #FF8C00);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.progress-container:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.meal-plan-section {
    background-image: linear-gradient(to right, #C5CAE9, #6A5ACD);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.meal-plan-section:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-details-section {
    background-image: linear-gradient(to right, #8BC34A, #3E8E41);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.user-details-section:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.body-type-selector h2,
.progress-container h2,
.meal-plan-section h2,
.user-details-section h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.body-type-selector button,
.progress-container button,
.meal-plan-section button,
.user-details-section button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.body-type-selector button:hover,
.progress-container button:hover,
.meal-plan-section button:hover,
.user-details-section button:hover {
    background-color: #555;
    transform: scale(1.02);
}

.body-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.body-selector {
    width: 200px;
    text-align: center;
}

.progress-container {
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

.progress {
    height: 30px;
    background-color: #76c7c0;
    width: 0%;
    transition: width 0.5s;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    width: 50%;
    margin: 10px 0;
}

select {
    padding: 10px;
    width: 55%;
    margin: 10px 0;
}

.type {
    color: whitesmoke;
}

button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.meal-plan-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.meal-plan-column {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.meal-plan-column h4 {
    text-align: center;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5px;
    gap: 20px;
}

h1 {
    text-align: center;
}

.physique-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 40vh;
    transition: transform 0.3s;
    font-weight: bold;
}

.physique-box:hover {
    transform: scale(1.05);
}

.physique-box h2 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5em;
}


.physique-box ol[type="I"] {
    margin-top: 10px;
    color: #555;
}

.physique-box li {
    margin-bottom: 10px;
}

.physique-box:nth-child(1) {
    background-color: rgb(130, 255, 47);
}

.physique-box:nth-child(2) {
    background-color: bisque;
}

.physique-box:nth-child(3) {
    background-color: rgb(255, 120, 143);
}

@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .physique-box {
        width: 90%;
    }
}

.meal {
    text-align: left;
    margin-top: 10px;
}