body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}

nav {
  background-color: rgba(0, 0, 0, 0.8); 
  color: #fff;
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 24px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo img {
  width: 50px; 
  height: auto;
}

nav .website-name h1 {
  font-size: 28px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4CAF50;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

/* nav .logo {
  float: left;
  width: 120px;  
  height: 100%;  
  margin-right: 20px;
}
.logo img{
  width:80px;  
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
} */
.background-image {
  background-image: url('./assets/wellness.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; 
  position: relative;
}

.timer-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  max-width: 500px; 
  width: 90%; 
}

.timer {
  display: block;
  font-size: 48px; 
  font-weight: bold;
  color: #4CAF50;
}

.timer-controls {
  margin-bottom: 30px;
}

#timer-input {
  width: 100px; 
  height: 50px; 
  padding: 10px;
  border: 2px solid #4CAF50; 
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

#minus-button, #plus-button {
  width: 60px; 
  height: 60px; 
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}

#minus-button {
  background-color: #e57373;
}

#plus-button {
  background-color: #4CAF50; 
  color: #fff;
}

.timer-buttons {
  margin-top: 40px;
}

#start-button, #pause-button, #reset-button {
  width: 150px; 
  height: 50px; 
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px; 
  margin: 10px 0;
}

#start-button {
  background-color: #4CAF50; 
  color: #fff;
}

#pause-button {
  background-color: #ccc;
}

#reset-button {
  background-color: #f44336; 
  color: #fff;
}
